@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #001;
  --color-primary-dull: #7e7e87;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}